[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "mauriciogtec.github.io"]
	path = mauriciogtec.github.io
	url = https://github.com/mauriciogtec/mauriciogtec.github.io
[submodule "public"]
	path = public
	url = https://github.com/mauriciogtec/mauriciogtec.github.io.git
	branch = master
